/* general style */

body {
    font-family: 'Bangers', cursive;
}

.image-container {
    position: relative;
    width: 100%; /* Full width of its parent container */
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.image-container:hover img {
    transform: scale(1.1);
}

.image-container:hover .text-overlay {
    opacity: 1;
}


/* memory game style */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F3F4F6; /* Light gray background */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr)); /* Responsive column sizing */
    gap: 10px; /* Space between cards */
    width: 100%; /* Full width of the screen */
    max-width: 100vw; /* Ensure it does not exceed viewport width */
    padding: 10px; /* Optional padding for better appearance */
    margin: 0; /* Remove default margin */
}

#pauseGameButton {
    z-index: 1001; /* Ensure it is above the overlay */
    pointer-events: auto; /* Allow interaction with the button */
}

#backToStartButton {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease; /* Smooth transition when resizing */
}

/* Adjust positioning for smaller screens */
@media (max-width: 640px) {
    #backToStartButton {
        top: 0.5rem;
        left: 0.5rem;
        padding: 0.3rem 0.8rem;
    }
}

/* Style for the card */
.card {
    background-color: #E0E0E0; /* Light gray for cards */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Prevent overflow */
    aspect-ratio: 1 / 1; /* Square cards */
}

.front, .back {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Full height */
}

.front img {
    max-width: 150px;
    max-height: 200px;
    object-fit: cover; /* Ensure images cover the card */
}

/* fav game style */








/* working on it */

body {
    background-color: #1d816c;
    background-image: url("images/9224941.jpg"); /* Note the forward slash */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}


















